<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Push Notifications App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Notifications history</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let notification of notifications">
      <ion-label>
        <h3>{{ notification.title }}</h3>
        <p>{{ notification.body }}</p>
        <p>{{ notification.additionalData | json }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
